In [1]:
import pandas as pd
import requests
import json

In [2]:
API_KEY = '7hlj8jHWV-jS57G2WGJEO0ROpEZAedHNxxd_4JMu1rdOW8ltXVO6Weeo-f_Tmpsm2_p-eG-Bq0wXMHHkerq33ul52MwZGynRQHwphIPSbeZl9BwZ_R-xuGg-Uqm-XHYx'

In [3]:
#client_id = 'eCjOBvEIbzFj-ZfiDlf2xA'

In [4]:
headers = {'Authorization': 'Bearer %s' % API_KEY}
url='https://api.yelp.com/v3/businesses/search'

In [5]:
zip_codes_Miami = {33111, 33122, 33126, 33127, 33128, 33133, 33101, 33102, 33106, 33112, 33116, 33124, 33125, 33129, 33130, 
                   33131, 33132, 33134, 33135, 33136, 33137, 33144, 33138, 33142, 33143, 33145, 33147, 33153, 33146, 33150, 
                   33151, 33152, 33155, 33156, 33157, 33158, 33161, 33159, 33163, 33164, 33165, 33162, 33166, 33167, 33172, 
                   33174, 33176, 33178, 33168, 33169, 33170, 33173, 33175, 33177, 33179, 33181, 33182, 33180, 33184, 33185, 
                   33186, 33187, 33189, 33193, 33194, 33197, 33199, 33231, 33233, 33183, 33188, 33190, 33196, 33206, 33222, 
                   33234, 33238, 33245, 33247, 33255, 33242, 33243, 33256, 33261, 33265, 33283, 33257, 33266, 33269, 33280, 
                   33296, 33299 }

In [6]:
def get_values(key, list_dicts):
    values = []
    for dict_ in list_dicts:
        try:
            values.append(dict_[key])
        except:
            values.append(None)         
    return values

In [7]:
ids, names, rating, review_count, price, location, coordinates, transactions, categories, is_closed = [],[],[],[],[],[],[],[],[],[]
for zip_code in zip_codes_Miami:
    params = {'term':'restaurants', 'location': str(zip_code), 'limit':'50'}
    req=requests.get(url, params=params, headers=headers)
    
    # proceed only if the status code is 200
    print('The status code is {}'.format(req.status_code))
    
    parsed = json.loads(req.text)
    try:
        businesses = parsed['businesses']


        ids.append(get_values('id', businesses))
        names.append(get_values('name', businesses))
        rating.append(get_values('rating', businesses))
        review_count.append(get_values('review_count', businesses))
        price.append(get_values('price', businesses))
        location.append(get_values('location', businesses))
        coordinates.append(get_values('coordinates', businesses))
        transactions.append(get_values('transactions', businesses))
        categories.append(get_values('categories', businesses))
        is_closed.append(get_values('is_closed', businesses))
    except:
        pass

The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200

In [8]:
list_attrs = [ids, names, rating, review_count,
             price, transactions, is_closed]
name_attrs = ['ids', 'names', 'rating', 'review_count',
             'price', 'transactions', 'is_closed']

In [9]:
dict_flat = {}
for i, attrs in enumerate(list_attrs):
    dict_flat[name_attrs[i]] = [x for attr in attrs for x in attr]

In [10]:
alias_list = []
title_list = []

for category in categories:

    for cat in category:
        alias = []
        title = []
        for c in cat:
            try:
                alias.append(c["alias"])
                title.append(c["title"])
            except:
                pass
        alias_attr = ', '.join(alias)
        title_attr = ', '.join(title)

        alias_list.append(alias_attr) 
        title_list.append(title_attr)

In [11]:
dict_flat['type_food'] = title_list
dict_flat['type_food_alias'] = alias_list

In [12]:
dict_flat['latitude'] = [x['latitude'] for coord in coordinates for x in coord]
dict_flat['longitude'] = [x['longitude'] for coord in coordinates for x in coord]

In [13]:
dict_flat['country'] = [x['country'] for loc in location for x in loc]
dict_flat['state'] = [x['state'] for loc in location for x in loc]
dict_flat['city'] = [x['city'] for loc in location for x in loc]
dict_flat['zip_code'] = [x['zip_code'] for loc in location for x in loc]

In [14]:
dict_flat.keys()

dict_keys(['ids', 'names', 'rating', 'review_count', 'price', 'transactions', 'is_closed', 'type_food', 'type_food_alias', 'latitude', 'longitude', 'country', 'state', 'city', 'zip_code'])

In [15]:
df = pd.DataFrame.from_dict(data=dict_flat)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4470 entries, 0 to 4469
Data columns (total 15 columns):
ids                4470 non-null object
names              4470 non-null object
rating             4470 non-null float64
review_count       4470 non-null int64
price              3034 non-null object
transactions       4470 non-null object
is_closed          4470 non-null bool
type_food          4470 non-null object
type_food_alias    4470 non-null object
latitude           4470 non-null float64
longitude          4470 non-null float64
country            4470 non-null object
state              4470 non-null object
city               4470 non-null object
zip_code           4470 non-null object
dtypes: bool(1), float64(3), int64(1), object(10)
memory usage: 493.3+ KB

In [17]:
def replace_empty_lists(list_entities):
    if len(list_entities) < 1:
        return None
    return list_entities

In [18]:
df['transactions'] = df.transactions.apply(replace_empty_lists)

In [19]:
df.head()

,ids,names,rating,review_count,price,transactions,is_closed,type_food,type_food_alias,latitude,longitude,country,state,city,zip_code
0,yA1CZ5Dip8cyfL40JGV_4w,Reunion Ktchn Bar,4.5,209,$$,[delivery],False,"Tapas Bars, Seafood, Cocktail Bars","tapas, seafood, cocktailbars",25.943266,-80.147168,US,FL,Aventura,33160
1,bspGO743LzemMRSfpbrh8A,PERL by Chef IP,5.0,6,None,None,False,"Seafood, Mediterranean, Cocktail Bars","seafood, mediterranean, cocktailbars",25.947124,-80.152363,US,FL,Miami,33180
2,ZvMdXANopgmMqRGj0Lx2dQ,Ornos Estiatorio a Michael Mina Restaurant,5.0,26,None,None,False,Greek,greek,25.958358,-80.142280,US,FL,Aventura,33180
3,lduwEKq8nxbppsJTQw_kfA,Bourbon Steak - Miami,4.0,475,$$$$,[delivery],False,Steakhouses,steak,25.959946,-80.137672,US,FL,Aventura,33180
4,dhluZVxCNm8xAu1VxAWxZQ,Lettuce & Tomato,4.5,532,$$,"[delivery, pickup]",False,"Gastropubs, American (New)","gastropubs, newamerican",25.933350,-80.152760,US,FL,North Miami Beach,33160

In [20]:
Miami = {'Miami'}
df_Miami = df.loc[df['city'].isin(Miami)]
df_Miami['city'].unique

<bound method Series.unique of 1       Miami
8       Miami
13      Miami
22      Miami
27      Miami
31      Miami
48      Miami
50      Miami
51      Miami
52      Miami
53      Miami
54      Miami
55      Miami
56      Miami
57      Miami
58      Miami
59      Miami
60      Miami
61      Miami
62      Miami
63      Miami
64      Miami
65      Miami
66      Miami
67      Miami
68      Miami
69      Miami
70      Miami
71      Miami
72      Miami
        ...
4367    Miami
4368    Miami
4369    Miami
4380    Miami
4394    Miami
4405    Miami
4423    Miami
4425    Miami
4432    Miami
4433    Miami
4434    Miami
4435    Miami
4436    Miami
4443    Miami
4444    Miami
4446    Miami
4448    Miami
4450    Miami
4454    Miami
4456    Miami
4457    Miami
4458    Miami
4459    Miami
4460    Miami
4461    Miami
4463    Miami
4464    Miami
4465    Miami
4466    Miami
4467    Miami
Name: city, Length: 2981, dtype: object>

In [21]:
df_Miami.to_csv('../../data/interim/restaurants/yelp_miami.csv', index=False)