In [1]:
import pandas as pd
import requests
import json

In [2]:
API_KEY = '7hlj8jHWV-jS57G2WGJEO0ROpEZAedHNxxd_4JMu1rdOW8ltXVO6Weeo-f_Tmpsm2_p-eG-Bq0wXMHHkerq33ul52MwZGynRQHwphIPSbeZl9BwZ_R-xuGg-Uqm-XHYx'

In [3]:
headers = {'Authorization': 'Bearer %s' % API_KEY}
url='https://api.yelp.com/v3/businesses/search'

In [4]:
zip_codes_Dallas = {75201, 75202, 75203, 75204, 75205, 75206, 75207, 75208, 75209, 75210, 75211, 75212, 75214, 75215, 
                    75216, 75217, 75218, 75219, 75220, 75221, 75222, 75223, 75224, 75225, 75226, 75227, 75228, 75229, 
                    75230, 75231, 75232, 75233, 75234, 75235, 75236, 75237, 75238, 75239, 75240, 75241, 75242, 75243, 
                    75244, 75245, 75246, 75247, 75248, 75249, 75250, 75251, 75252, 75253, 75258, 75260, 75261, 75262, 
                    75263, 75264, 75265, 75266, 75267, 75270, 75275, 75277, 75283, 75284, 75285, 75286, 75287, 75294, 
                    75295, 75301, 75303, 75310, 75312, 75313, 75315, 75320, 75323, 75326, 75336, 75339, 75342, 75346, 
                    75350, 75353, 75354, 75355, 75356, 75357, 75359, 75360, 75363, 75364, 75367, 75368, 75370, 75371, 
                    75372, 75373, 75374, 75376, 75378, 75379, 75380, 75381, 75382, 75386, 75387, 75388, 75389, 75390, 
                    75391, 75392, 75393, 75394, 75395, 75396, 75397, 75398 }

In [5]:
def get_values(key, list_dicts):
    values = []
    for dict_ in list_dicts:
        try:
            values.append(dict_[key])
        except:
            values.append(None)         
    return values

In [6]:
ids, names, rating, review_count, price, location, coordinates, transactions, categories, is_closed = [],[],[],[],[],[],[],[],[],[]
for zip_code in zip_codes_Dallas:
    params = {'term':'restaurants', 'location': str(zip_code), 'limit':'50'}
    req=requests.get(url, params=params, headers=headers)
    
    # proceed only if the status code is 200
    print('The status code is {}'.format(req.status_code))
    
    parsed = json.loads(req.text)
    try:
        businesses = parsed['businesses']


        ids.append(get_values('id', businesses))
        names.append(get_values('name', businesses))
        rating.append(get_values('rating', businesses))
        review_count.append(get_values('review_count', businesses))
        price.append(get_values('price', businesses))
        location.append(get_values('location', businesses))
        coordinates.append(get_values('coordinates', businesses))
        transactions.append(get_values('transactions', businesses))
        categories.append(get_values('categories', businesses))
        is_closed.append(get_values('is_closed', businesses))
    except:
        pass

The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 400
The status code is 200
The status code is 400
The status code is 400
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 400
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 400
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 400
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200
The status code is 200

In [7]:
list_attrs = [ids, names, rating, review_count,
             price, transactions, is_closed]
name_attrs = ['ids', 'names', 'rating', 'review_count',
             'price', 'transactions', 'is_closed']

In [8]:
dict_flat = {}
for i, attrs in enumerate(list_attrs):
    dict_flat[name_attrs[i]] = [x for attr in attrs for x in attr]

In [9]:
alias_list = []
title_list = []

for category in categories:

    for cat in category:
        alias = []
        title = []
        for c in cat:
            try:
                alias.append(c["alias"])
                title.append(c["title"])
            except:
                pass
        alias_attr = ', '.join(alias)
        title_attr = ', '.join(title)

        alias_list.append(alias_attr) 
        title_list.append(title_attr)

In [10]:
dict_flat['type_food'] = title_list
dict_flat['type_food_alias'] = alias_list

In [11]:
dict_flat['latitude'] = [x['latitude'] for coord in coordinates for x in coord]
dict_flat['longitude'] = [x['longitude'] for coord in coordinates for x in coord]

In [12]:
dict_flat['country'] = [x['country'] for loc in location for x in loc]
dict_flat['state'] = [x['state'] for loc in location for x in loc]
dict_flat['city'] = [x['city'] for loc in location for x in loc]
dict_flat['zip_code'] = [x['zip_code'] for loc in location for x in loc]

In [13]:
dict_flat.keys()

dict_keys(['ids', 'names', 'rating', 'review_count', 'price', 'transactions', 'is_closed', 'type_food', 'type_food_alias', 'latitude', 'longitude', 'country', 'state', 'city', 'zip_code'])

In [14]:
df = pd.DataFrame.from_dict(data=dict_flat)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5360 entries, 0 to 5359
Data columns (total 15 columns):
ids                5360 non-null object
names              5360 non-null object
rating             5360 non-null float64
review_count       5360 non-null int64
price              3656 non-null object
transactions       5360 non-null object
is_closed          5360 non-null bool
type_food          5360 non-null object
type_food_alias    5360 non-null object
latitude           5359 non-null float64
longitude          5359 non-null float64
country            5360 non-null object
state              5360 non-null object
city               5360 non-null object
zip_code           5360 non-null object
dtypes: bool(1), float64(3), int64(1), object(10)
memory usage: 591.6+ KB

In [16]:
def replace_empty_lists(list_entities):
    if len(list_entities) < 1:
        return None
    return list_entities

In [17]:
df['transactions'] = df.transactions.apply(replace_empty_lists)

In [18]:
df.head()

,ids,names,rating,review_count,price,transactions,is_closed,type_food,type_food_alias,latitude,longitude,country,state,city,zip_code
0,WM--6SIp218cCEzqTDSAnQ,Catbird,4.0,11,None,None,False,"Bars, Tapas/Small Plates","bars, tapasmallplates",32.781402,-96.799953,US,TX,Dallas,75201
1,LiYys5glM0MO2A9rCkcFWA,XOXO Dining Room,3.5,147,None,[delivery],False,American (New),newamerican,32.794171,-96.791056,US,TX,Dallas,75204
2,ycL1qii6EpKXoLgMMboBIQ,Pecan Lodge,4.5,5090,$$,[delivery],False,"Sandwiches, Barbeque, Southern","sandwiches, bbq, southern",32.783588,-96.783867,US,TX,Dallas,75226
3,DP1I3daE5-mKznnAeA-Q3w,The Woolworth,4.0,888,$$,"[delivery, restaurant_reservation]",False,"Cocktail Bars, Tapas/Small Plates, American (New)","cocktailbars, tapasmallplates, newamerican",32.781329,-96.798727,US,TX,Dallas,75204
4,-pvdnSkWhsHAeOC0TJleOQ,TRUE Kitchen + Kocktails,3.5,263,None,"[delivery, pickup]",False,"Southern, Comfort Food","southern, comfortfood",32.782600,-96.794630,US,TX,Dallas,75201

In [19]:
df['city'].unique()

array(['Dallas', 'University Park', 'Carrollton', 'Plano', 'Addison',
       'Duncanville', 'Irving', 'Seagoville', 'Balch Springs', 'Crowley',
       'Koszalin', 'Melaka', 'Malacca', 'Taman Melaka Raya', 'Ayer Keroh',
       'Melaka City', 'Kampung Kuli', 'Garland', 'Mesquite',
       'Lipník nad Bečvou', 'Hranice', 'Nový Jičín', 'Přerov', 'Štramberk',
       'Valašské Meziříčí', 'Odry', 'Rožnov pod Radhoštěm', 'Vsetín',
       'Dolany', 'Velká Bystřice', 'Bílovec', 'Rožnov Pod Radhoštěm',
       'Bystřice pod Hostýnem', 'Spálov', 'Vsetin-Zašová', 'Jablůnka',
       'Halenkov', 'Svatý Kopeček', 'Holešov', 'Ostrava', 'Coppell',
       'Richardson', '75001', 'Farmers Branch', "Farmer's Branch",
       'San Hipólito Xochiltenango', 'Atlixco', 'Actipan de Morelos',
       'Amozoc de Mota', 'Zacatelco', 'Puebla', 'Huamantla',
       'San Martín Texmelucan de Labastida', 'Tlaxcala de Xicotencatl',
       'Chipilo de Francisco Javier Mina', 'Tlaxcala de Xicohtencatl',
       'Heroica Puebla de Zaragoza', 'Cholula', 'Cholula de Rivadavia',
       'San Jeronimo Tianguismanalco', 'Natívitas',
       'San Baltazar Atlimeyaya', 'San Andrés Cholula', 'Zona Capu',
       'San Pedro Cholula', 'Heróica Puebla de Zaragoza', 'Tlaxcala',
       'Tlaxcalancingo', 'Cholula de Rivadabia', 'Calw',
       'Bad Teinach-Zavelstein', 'Oberhaugstett - Neubulach', 'Neubulach',
       'Altensteig', 'Ebhausen', 'Hornberg', 'Simmozheim', 'Bad Wildbad',
       'Wildberg', 'Nagold', 'Schömberg', 'Oberreichenbach',
       'Deckenpfronn', 'Bad Wildbad im Schwarzwald', 'Gechingen',
       'Herrenberg', 'Pfalzgrafenweiler', 'Gäufelden-Nebringen',
       'Trindade', 'Goiânia', 'Aparecida de Goiânia',
       'Santo Antônio de Goiás', 'Setor Bueno', 'Grand Prairie',
       'Hutchins', 'Lancaster', 'DeSoto', 'Desoto', 'Cedar Hill',
       'Crandall', 'Amozoc', 'Casa Blanca', 'Euless', 'Grapevine',
       'Colleyville', 'Hurst', 'Southlake', 'North Richland Hills'], dtype=object)

In [20]:
Dallas = {'Dallas'}
df_Dallas = df.loc[df['city'].isin(Dallas)]
df_Dallas['city'].unique()

array(['Dallas'], dtype=object)

In [25]:
#df_Dallas.to_csv('Yelp_FusionAPI_Dallas_data_extraction.csv', index=False)

In [21]:
df_Dallas.to_csv('../../data/interim/restaurants/yelp_dallas.csv', index=False)